/****maps*****/

#map_canvas {
    height: 650px;
    width: 100%;
    border: solid 3px yellowgreen;
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#resultCerca{
    width: 80%;
    margin: 0 auto;
}

#nombreCercano{
    text-align: center;
}

#mapaB {
    background-color: yellowgreen;
}

/****General****/

 .buttonShare {
    float: left;
    width: 64px !important;
    border-radius: 100px;
    height: 64px;
 }

 #TwitterShare {
    margin-right: 10px;
    background: url('../../img/sprites64.png');
 }

 #FaceShare {
    background: url('../../img/sprites64.png') 64px 0px;
 }

#shareContainer {
    width: 138px;
}

.hideShare, .hideDiv {
    display: none;
}

.center {
    margin: 0 auto !important;
}

.margintopbottom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.center-text {
    text-align: center;
    margin-bottom: 30px;
}