<?xml version='1.0' encoding='utf-8'?>
<widget id="flybird.biofriendly" version="2.0.2" versionCode ="4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Biofriendly</name>
    <description>
        Una aplicación para encontrar el lugar más cercano en donde vendan Biofriendly
    </description>
    <author email="ocruz@kbyte.mx" href="http://omarcruz.info">
        Omar Cruz
    </author>
    <preference name="phonegap-version" value="3.1.0" /> 
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <access origin="*" />
    <content src="index.html" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <icon src="icon.png" />

    <icon src="res/icons/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="res/icons/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="res/icons/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="res/icons/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    <icon src="icons/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="icons/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="res/splash/windows-phone/splash.jpg" gap:platform="winphone" />

</widget>
